*{
	margin: 0;
	padding: 0;
	border: 0;	
}
body{
	background-color: #f0f0f0;
	font: 14px/24px arial;
	color: #555555;
}
a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
ul,ol{
	list-style: none;
}
/*reset end */
header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.9;
	height:100px;
	line-height: 100px;
	background-color:#873131;
	z-index: 9999; 
}
.logo{
	background-image: url('../img/the-gym.png');
	float: left;
	width: 200px;
	height: 50px;
	margin: 20px;
}
nav ul{
	float: right;
}
nav ul li{
	float: left;
	margin-right: 20px;
}
.slider{
	margin: 110px auto 0;
	max-width: 960px;
}
.one-third{
	margin: 2%;
	width: 29%;
	float: left;
	text-align: center;
}
.one-third i{
	font-size: 70px;
}
.one-third h1{
	line-height: 80px;
	font-size: 20px;
}
.one-third p{
	line-height: 24px;
}
img{
	max-width: 100%;
}
aside{
	width: 50%;
	padding:4%;
	float: left;
}
article{
	width: 35%;
	padding: 3%;
	float: right;
}
article h2{
	text-decoration: underline;
}
article ul li p{
	line-height: 50px;
	font-weight: bold;
}
.clear{
	clear: both;
	background-color: red;
}
.banner{
	width: 100%;
	display: inline-block;
	background-color: #542a32;
}
.one-third .white{
	color: white;
}
.white h1{
	line-height: 40px;
	font-size: 16px;
}
.white p{
	line-height: 18px;
}
.white a{
	font-style: italic;
}
.white ul{
	margin-top: 12px;
}
.white ul li{
	display: inline;
}
.white ul li i{
	font-size: 35px;
}
.last-line{
	background-color: #3d3d3d;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.last-line p{
	color: #ffffff;
}
.icon{
	display: none;
}

@media only screen and (max-width: 768px){
	
	header{
		background-color: #873131;
	}
	.icon{
		position: absolute;
		right: 40px;
		display: block;
	}
	nav ul{
		position: absolute;
		background-color: #873131;
		right:15px;
		top: 70px;
		display: none;
		border: 1px solid white;
		border-radius: 5px;
		width: 80px;
		text-align: center;
	}
	nav ul li{
		padding: 10px 0;
		line-height: 20px;
		width: 100%;
	}

	.one-third, aside, article{
		width: 100%;
		margin: 20px 0;
		padding: 0;
		text-align: center;
	}
}